/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #466aff;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}
.navbar{
  background-color: rgba(27, 36, 64, 1);
}
.navbar__link--active,a:hover,.menu__link--active{
  color: rgba(70, 106, 255, 1)!important;
}
.navbar__link{
  color: #fff;
}
.table-of-contents__link--active{
  color: #466aff;
}
html[data-theme=light] .menu{
  background-image:linear-gradient(180deg,#f3f5f8 0%,#ffffff 100%);
  box-shadow:8px 6px 18px rgba(171, 202, 255, 0.24) inset;
  margin-bottom: 0px!important;
}
.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
.footer{
  height: 473px;
  position: relative;
  background: #1e1e1e;
}
.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__bottom .margin-bottom--sm{
  position: absolute;
  margin-top: -150px;
  top:50%
}
.footer__links .footer__title{
  height: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  line-height: 25px;
  margin-bottom: 20px;
}
.footer__links .footer__col:last-child .footer__items:last-child{
  display: flex;
  flex-wrap: wrap;
}
.footer__links .footer__col:last-child .footer__items:last-child .footer__item{
  width: 50%;
}
.footer__links .footer__col:last-child .footer__items:last-child .footer__item:nth-child(2){
  background-image: url(../../static/img/gitlink-qq.png);
  background-size: 100% 100%;
  height: 90px;
  width: 90px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
}
.footer__links .footer__col:last-child .footer__items:last-child .footer__item:nth-child(3){
  background-image: url(../../static/img/gongzhong.png);
  background-size: 100% 100%;
  height: 90px;
  width: 90px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  margin-left: 34px;
}
.footer__links .footer__col:last-child .footer__items:last-child .footer__item:nth-child(2) a,
.footer__links .footer__col:last-child .footer__items:last-child .footer__item:nth-child(3) a{
  position: absolute;
  top: 95px;
  left: 50%;
  margin-left: -17px;
}
.footer__links .footer__col:last-child .footer__items:last-child .footer__item:first-child{
  width: 100%;
}
.container .footer__links{
  margin-left: 420px;
}
.container .footer__links .footer__col .footer__item{
  color: #bdc2d1;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  height: 20px;
  margin-bottom: 15px;
}
.footer__bottom .margin-bottom--sm img{
  width: 300px;
  max-width: unset;
}
.container .footer__copyright{
  position: absolute;
  width: 100%;
  left: 0px;
  font-size: 12px;
  font-weight: 400;
  color: #bdc2d1;
  line-height: 28px;
  padding: 15px 0;
  text-align: center;
  background-color: #1b212c;
}
.container .footer__copyright p{
  margin-bottom: 0px!important;
}